$font_primary: "Montserrat", sans-serif;
$font_secondary: "Dancing Script", cursive;

$font_maxi: 5rem;
$font_big: 3rem;
$font_semi_big: 2.2rem;
$font_medium: 1.8rem;
$font_regular: 1.4rem;
$font_small: 1rem;
$font_mini: 0.8rem;

$font_light: 300;
$font_regular: 400;
$font_bold: 700;

$color_red: #dc1c22;
$color_white: #fafafa;
$color_blackish: #242323;

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: $color_white;
  color: $color_blackish;
  font-family: $font_primary;
  font-size: 16px;
}

button {
  appearance: none;
  background-color: transparent;
  border: none;
}

a {
  text-decoration: none;
  color: black;
  transform: all 0.6s ease-out;
}

a:hover {
  text-decoration: underline;
  transform: all 0.6s ease-out;
}

.header-global {
  width: 100%;
  background-color: $color_red;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem 0;
}

.btn-home a {
  display: flex;
  align-items: center;
  color: $color_white;
}

.logo-wrapper .logo {
  width: 5rem;
  height: 5rem;
}

.logo-wrapper .logo-text {
  font-size: $font_semi_big;
  font-family: $font_secondary;
  margin: 0 0.75rem;
}

.full-page-section {
  width: 100%;
  height: calc(100vh - 10.5rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn-round {
  font-size: $font_regular;
  padding: 0.75rem;
  border: solid 2px $color_red;
  border-radius: 0.75rem;
}

.btn-round a {
  text-transform: uppercase;
  letter-spacing: .1rem;
}

.btn-fill {
  background-color: $color_red;
}

.btn-fill a {
  color: $color_white;
}
