{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href={{ url_for('static', filename='css/home.scss.css') }}>
{% endblock %}

{% block content %}
<section id="welcome" class="full-page-section">
    <div class="headline-wrapper">
        <h1 class="headline headline-banner">Our Table</h1>
        <h4 class="subtitle subtitle-banner">Pohodlně si zarezervujte stůl on-line</h4>
    </div>
    <section class="actions">
        <button type="button" class="btn-round btn-fill">
            <a href="">Rezervovat stůl</a>
        </button>
        <button class="btn-round">
            <a href={{ url_for('menu_bp.menu') }}>Prohlédnout menu</a>
        </button>
    </section>
</section>
{% endblock %}

{% block scripts %}
<script>
    const btns = document.querySelectorAll('.btn-round')

    btns.forEach((btn) => {
        btn.addEventListener('mouseenter', (e) => {
            btn.classList.add('btn-fill');
        })
    })

    btns.forEach((btn) => {
        btn.addEventListener('mouseleave', () => {
            btn.classList.remove('btn-fill');
        })
    })
</script>
{% endblock %}