{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href={{ url_for('static', filename='css/home.scss.css') }}>
{% endblock %}

{% block content %}
<section id="welcome" class="full-page-section">
    <hgroup class="headline-wrapper">
        <h1 class="headline headline-maxi">Our Table</h1>
        <h4 class="subtitle subtitle-big">Pohodlně si zarezervujte stůl on-line</h4>
    </hgroup>
    <section class="actions">
        <button type="button" class="btn-round btn-fill">
            <a href={{ url_for('reservation_bp.reserve')}}>Rezervovat stůl</a>
        </button>
        <button class="btn-round">
            <a href={{ url_for('menu_bp.menu') }}>Prohlédnout menu</a>
        </button>
    </section>
</section>
{% endblock %}
