{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" type="text/css" href={{ url_for('static', filename='css/reservation.scss.css') }}>
{% endblock %}

{% block content %}
<section id="table-select" class="full-page-section">
    <div class="select-wrapper">
        {% for table in tables %}
        <div class="item-wrapper">
            <img class="item-icon" src={{ url_for('static', filename='img/table_icon.svg') }}>
            <div class="item-desc">
                <h3 class="headline headline-medium">
                    stůl číslo: {{ table.StulID }}
                </h3>
                <p>
                    kapacita stolu: {{ table.Pocetmist }} osob
                </p>
            </div>
        </div>

        {% else %}
        <section class="error-wrapper full-page-section">
            <p>
                Omlouváme se, bohužel v tomto termínu nemáme žádné volné místo
            </p>
            <button class="btn-round">
                <a href={{ url_for('reservation_bp.reserve') }}>vybrat jiný termín</a>
            </button>
        </section>
        {% endfor %}
    </div>
    {% if tables is defined and tables | length > 0%}
    <form class="reservation-form">
        <fieldset class="inputset">
            <label class="input-label">
                {{ form.table_id.label }}
            </label>
            {{ form.table_id }}

            {% if form.table_id.errors %}
                <ul class="errors">
                {% for error in form.table_id.errors %}
                    <li>{{ error }}</li>{% endfor %}
                </ul>
            {% endif %}
        </fieldset>

        {{ form.submit }}
    </form>
    {% endif %}
</section>
{% endblock %}