@import './stylesheet.scss';

#menu .headline-wrapper {
    margin-bottom: 2.8rem;
}

#menu .menu-list {
    width: 80%;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    counter-reset: fancy-counter;
    display: flex;
    flex-direction: column;
}

#menu .menu-list .menu-item {
    border-bottom: 1px solid $color_blackish;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    counter-increment: fancy-counter;
}

#menu .menu-list .menu-item::before {
    content: "0" counter(fancy-counter);
    font-weight: $font_bold;
    font-size: $font_semi_big;
    font-family: $font_secondary;
    margin-right: 0.5rem;
    color: $color_red;
  }

#menu .menu-list .item-wrapper {
    width: 100%;
}

#menu .menu-list .menu-item .item-name {
    width: 100%;
    text-align: center;
    font-size: $font_medium;
}

#menu .menu-list .menu-item .item-price {
    color: $color_red;
    font-size: $font_normal;
    display: inline-block;
    width: 100%;
    text-align: right;
}

@media screen and (max-width: 518px) {
    #menu .menu-list {
        width: 95%;
    }

    #menu .menu-list .menu-item::before {
        font-size: $font_normal;
    }
}