@import 'index.scss';

#reservation .reservation-form {
    width: 60%;
    margin: auto;
    text-align: center;
}

form .inputset {
    border: none;
    border-bottom: 1px solid $color_red;
    margin: 1rem 0;
    max-width: 100%;
}

.input-label {
    margin-right: 1.2rem;
}

form input[type=submit] {
    border: none;
    background-color: $color_red;
    padding: .5rem;
    color: $color_white;
    font-size: $font_regular;
    cursor: pointer;
}

form input[type=submit]:hover {
    text-decoration: underline;
}

@media all and (max-width: $viewport_small) {
    #reservation .reservation-form {
        width: 100% ;
    }
}